*{
  margin: 0;
}

nav{
  background: purple;
}

.Header{
  display: flex;
  justify-content: start;
  align-items: center;
}
.Navigation {
  background: cyan;
  height: 50px;
  width: 150px;
  margin: 20px;
}
.container{
  display: flex;
  margin: 5px 30px;
  background:white;
  height: 500px;
}
.Sidebar{
  background: green;
  flex-grow: 1;
  margin-right: 5px;
}
.Main{
  background: yellow;
  flex-grow: 2;
}