.container{
  display: flex;
}
.item{
  height: 100px;
  width: 100px;;
}
.green{
background-color: green;
}
.yellow{
  background: yellow;
}
.purple{
  background: purple;
}
.container2{
  display: flex;
}
.item2{
  height: 100px;
  width: 100px;;
}
.green2{
background-color: green;
flex-grow: 1;
}
.yellow2{
  background: yellow;
  flex-grow: 2;
}
.purple2{
  background: purple;
  flex-grow: 1;
}
.breakline{
  height: 10px;
  width: auto;
  background-color: white;
}

.container3{
  display: flex;
  flex-direction: row-reverse;
}
.item3{
  height: 100px;
  width: 100px;;
}
.green3{
background-color: green;
flex-grow: 1;
}
.yellow3{
  background: yellow;
  flex-grow: 2;
}
.purple3{
  background: purple;
  flex-grow: 1;
}